.rating {
  display: inline-flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
}

.pawFilled {
  display: inline-flex;
  transform: scale(0);
}

.pawEmpty {
  display: inline-flex;
  opacity: 0.6;
}
